@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf")format("truetype");
}

@font-face {
  font-family: "roboto_ligth";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.ttf")format("truetype");
}

@font-face {
  font-family: "roboto_thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Thin.ttf")format("truetype");
}

*, *:after, *:before {
  border: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out; }

body, html {
  /* font: 15px/160% "flamenco", Helvetica, Arial, sans-serif; */
  background: 000;
  color: #555;
  height: 100% !important;
  margin: 0 auto;
  max-width: 100% !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "roboto_ligth";
  /* text-align: center; */ }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none; }


.fondo{
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:500px){
  form{
    width: 80%;
  }
}

// -------------- Acciones -------------------

.fondo_acciones{
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cerrar{
    position: absolute;
    width: 100;
    top: 0;
    right: 0;
    margin: 5px;
  }
  .acciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
  }
}

// --------------- Inserta Registros ----------------------------

.fondo_agrega{
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
  form{
    a{
      margin: 10px auto;
      display: inline-block;
      cursor: pointer;
    }
    .form{
      h1{
        width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;;
      .grupo{
        width: 40%;
      }
    }
  }
}

// --------------------------- update -----------------------
.fondo_update{
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  .logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
  }
  .encabezados{
    position: relative;
    top: 100px;
    width: 70%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #faf8f8;
    .detalle{
      width: 20%;
      background: #ffffff;
    }
  }
}